{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="col-lg-5 col-md-7">

            <div class="card border-0 shadow">
                <div class="card-body p-5">

                    <h2 class="text-center mb-3" style="font-family: 'Georgia', serif;">
                        Forget Password
                    </h2>

                    <p class="text-center text-muted mb-4">
                        Username kiriting
                    </p>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="text" name="username">
                        </div>
                        <p class="text-center">
                        {{javob}}
                    </p>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark py-2">
                                Jonatish
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
